# Preprocessing

In [2]:
%load_ext autoreload

In [3]:
%autoreload 2

In [4]:
import torch

In [6]:
from src.vfm.connection import Connection
from src.vfm.preprocessor import Preprocessor
import pandas as pd
from src.vfm.model.reg.gradient_boost import GradientBoost
from src.vfm.model.nn.swt_tft import SWTTFTModel
from src.utils.descriptive_analysis import *
from src.vfm.model.physics.physics_informed import PhysicsInformedHybridModel, PhysicsModel
import matplotlib.pyplot as plt
import os
from sklearn.model_selection import train_test_split

c:\Users\perer\Documents\Code\pcperera\vfm\.venv\Lib\site-packages\pytorch_forecasting\models\base\_base_model.py:28: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from tqdm.autonotebook import tqdm

In [7]:
connection = Connection()
# Get client
client = connection.get_client()

In [9]:
well = f"W10"
df_raw = connection.get_data(client, well=well)

In [8]:
df_raw.columns

NameError: name 'df_raw' is not defined

In [55]:
dependent_vars=["qo_well_test", "qg_well_test", "qw_well_test"]
independent_vars=["dhp", "dht", "whp", "wht", "choke", "dcp"]

In [56]:
summarize_na(df_raw)

whp             349
wht             349
dhp             349
dht             349
choke           349
dcp             349
qo_well_test    224
qg_well_test    223
qw_well_test    339
qo_mpfm         353
qg_mpfm         353
wc_mpfm         349
well_id           0
dtype: int64

In [57]:
# df_raw = df_raw.loc["2017-03-06":"2021-04-05"]

In [58]:
preprocessor = Preprocessor(df=df_raw)
df = preprocessor.preprocess_timeseries(well_id=well)
df.shape

(27973, 11)

In [59]:
# Count NaNs per column
summarize_na(df)

dhp                 0
dht                 0
whp                 0
wht                 0
dcp                 0
choke               0
well_id             0
qo_well_test    27629
qg_well_test    27628
qw_well_test    27741
time_idx            0
dtype: int64

In [60]:
# df.to_csv(rf"metrics\df-{well}.csv", index=True)

In [61]:
df[independent_vars].describe()

,dhp,dht,whp,wht,choke,dcp
count,27973.000000,27973.000000,27973.000000,27973.000000,27973.000000,27973.000000
mean,141.791053,81.055531,40.782727,61.478130,0.676316,21.788824
std,10.359022,0.761339,7.087309,1.662333,0.195233,0.482602
min,121.658707,72.431594,26.002028,54.923113,0.278000,20.721562
25%,131.559452,81.180241,33.772407,60.489831,0.525179,21.390806
50%,141.284636,81.261085,40.179898,61.744290,0.619627,21.728417
75%,151.101341,81.293269,47.112865,62.734602,0.871000,22.142910
max,162.327916,81.692168,55.559251,66.433394,1.000000,24.048600

In [62]:
df[dependent_vars].describe()

       qo_well_test  qg_well_test  qw_well_test
count    344.000000    345.000000    232.000000
mean     114.492712  14404.582732      6.276743
std       39.122920   4366.833044      4.057383
min        0.000000      0.000000      0.000000
25%       98.334120  13056.580069      3.793262
50%      124.892796  15189.890628      6.474224
75%      142.690884  17416.969702      8.961888
max      169.959143  20971.904163     19.985577

In [63]:
summarize_na(df)

dhp                 0
dht                 0
whp                 0
wht                 0
dcp                 0
choke               0
well_id             0
qo_well_test    27629
qg_well_test    27628
qw_well_test    27741
time_idx            0
dtype: int64

In [70]:
df_with_targets = df.dropna(subset=["qo_well_test", "qg_well_test", "qw_well_test"])
df_with_targets.shape

(232, 11)

In [71]:
summarize_na(df_with_targets)

dhp             0
dht             0
whp             0
wht             0
dcp             0
choke           0
well_id         0
qo_well_test    0
qg_well_test    0
qw_well_test    0
time_idx        0
dtype: int64

# Transfer Learn - Physics Informed Hybrid Model

In [1]:
train_df, test_df = get_train_test_split(df_with_targets)

NameError: name 'get_train_test_split' is not defined

In [77]:
hybrid = PhysicsInformedHybridModel.load(r"models\physics_informed_hybrid_model.pkl")

# Refit physics model using WELL-07 well tests
hybrid.phys_model.fit(train_df)

# OPTIONAL: retrain ML residuals if enough data exists
hybrid.fit(train_df)

pred_well07 = hybrid.predict(test_df)

pred_well07

                        qo_pred       qg_pred    qw_pred   wc_pred
2021-12-02 22:00:00  156.933080  19526.936419   9.119674  0.055025
2020-03-20 04:00:00  118.734046  15593.267295   4.160638  0.046245
2019-04-30 06:00:00   53.178826  11854.416226   1.375546  0.046198
2020-12-28 02:00:00  145.688988  16926.032237   9.472891  0.060273
2019-06-16 20:00:00  100.625656  15585.459889   2.721884  0.035352
2021-02-19 04:00:00  131.125872  15168.869581   7.410774  0.053001
2019-07-06 06:00:00  111.124087  13082.833412   3.347698  0.057373
2021-02-15 00:00:00  159.943307  19762.908802  13.096601  0.071509
2020-12-04 10:00:00  127.986810  15051.271994   8.111200  0.047743
2020-09-22 06:00:00  147.473758  17547.638074   1.883845  0.035361
2021-07-27 04:00:00  101.129625   6865.505490   7.061443  0.056496
2019-06-20 06:00:00  133.603368  16944.912380   6.643579  0.034597
2020-07-27 16:00:00   60.738865  10353.325910   1.424546  0.050597
2021-01-01 12:00:00  166.783409  20332.261727   9.464959  0.065089
2020-12-31 14:00:00  144.719716  16710.657691  10.026759  0.059318
2020-11-13 02:00:00  142.854091  17743.552048   7.887156  0.046512
2020-11-25 20:00:00  129.886705  17233.703912   7.652422  0.052824
2019-08-09 18:00:00   96.647682  11775.358384   9.358562  0.068404
2022-09-15 02:00:00  142.423561  16213.152737   7.911046  0.056972
2021-01-03 16:00:00  131.962382  15681.451641  12.041456  0.050574
2020-09-01 02:00:00  139.751758  15947.676890   5.592599  0.049856
2020-12-10 08:00:00  129.233547  15282.882720   8.773104  0.047566
2021-03-12 00:00:00   58.515686  11507.804539   4.591489  0.045350
2021-01-01 22:00:00  116.042522  14454.650464   3.158742  0.043089
2020-09-21 22:00:00  155.786700  18636.456276   2.659142  0.042857
2019-06-20 02:00:00  134.701625  17017.709536   5.912583  0.033596
2020-11-26 00:00:00  129.175701  17246.272669   7.569817  0.052624
2020-08-23 20:00:00   88.065820   8575.218398   7.090404  0.054027
2020-08-29 22:00:00  138.636877  18199.047687   9.614469  0.048545
2020-06-07 22:00:00  151.183043  19758.420779   6.979481  0.051980
2021-02-18 18:00:00  126.890943  16436.705236  11.514112  0.052687
2020-02-07 00:00:00   58.076646   6832.041225   3.056908  0.043862
2020-09-07 08:00:00  137.842033  17815.273117   5.030455  0.048170
2019-10-26 06:00:00   82.231683  10604.537173   4.829143  0.045186
2019-06-18 16:00:00  131.566061  16599.670229   5.257506  0.038380
2020-09-22 22:00:00  142.517284  17956.171933   2.602903  0.037232
2020-12-09 00:00:00  127.604125  15380.441544   9.519678  0.046361
2020-09-07 10:00:00  138.444151  17932.056406   5.248430  0.048381
2020-06-05 14:00:00  155.625898  20047.902346  10.142682  0.084359
2020-11-25 02:00:00  136.741788  17102.289730   6.348227  0.055365
2020-06-29 04:00:00  138.784367  16386.874626   6.490593  0.043739
2021-01-13 20:00:00  124.783234  14016.395058   2.434916  0.046898
2020-11-24 16:00:00  143.283493  18431.446428   4.591404  0.055537
2020-05-16 04:00:00  132.394591  17795.383198   4.481323  0.046568
2020-09-03 06:00:00  160.913549  19790.872216   7.829279  0.052216
2020-09-02 10:00:00  150.983728  19359.814682   8.095621  0.032437
2020-12-02 00:00:00  143.727918  17419.903186   6.813001  0.042425

In [ ]:
# Physics-only baseline
physics_metrics = hybrid.physics_score(test_df)

# Hybrid metrics
hybrid_metrics = hybrid.score(test_df)

print("Physics-only:", physics_metrics)
print("Hybrid (Transfer):", hybrid_metrics)

Physics-only: {'qo': {'r2': 0.2778920339776356, 'mae': 18.68775803896581, 'rmse': 23.150642448823866}, 'qw': {'r2': 0.1010394229940329, 'mae': 2.832649663121567, 'rmse': 3.524439535724878}, 'qg': {'r2': -0.07050310093674361, 'mae': 3004.216011789079, 'rmse': 3615.326891069403}}
Hybrid (Transfer): {'qo': {'r2': 0.36204698905248855, 'mae': 13.272970734891274, 'rmse': 21.728127680642885}, 'qw': {'r2': 0.33338471714337936, 'mae': 2.3428733754481788, 'rmse': 2.9580329246378163}, 'qg': {'r2': 0.39903699083579003, 'mae': 1633.6323024407716, 'rmse': 2705.6256288869426}}

: